@import 'assets/styles/page-layout.scss';


.head-container {
  height: 100px;
  width: 100%;
  background-color: lightskyblue;
  display: flex;
  align-items: center;
}


.main-container {
  height: calc(100vh - 100px);
  width: 100%;
  background-color: lightcoral;
  display: flex;

  .organization-tree-container {
    height: 100%;
    width: 250px;
    background-color: lightgoldenrodyellow;

    .account-tree-container {
      .tree-item-row-container {
        .MuiSvgIcon-root {
          font-size: 20px;
        }
      }
    }

  }

  .organization-content {
    height: 100%;
    width: calc(100% - 250px);
    background-color: lightcyan;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
