@import 'assets/styles/page-layout.scss';


.selection-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 100%;

  .source-list-container {
    background-color: red;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    .source-list{
      background-color: white;
      display: flex;
      flex-direction: column;
    }
    
  }

  .actions-container {
    background-color: orange;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    .actions-button-container{
      display: flex;
      flex-direction: column;
      
      
    }
  }

  .target-list-container {
    background-color: blue;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .target-list{
      background-color: white;
    }
    
  }
}