@import './functions';

$light: (
        borderDark:      color(tronDarkBlue),
        borderLight:     color(tronLightBlue),
        textDark:        color(black),
        textLight:       color(white),
        backgroundDark:  color(tronDarkBlue),
        backgroundLight: color(tronLightBlue)
);