html, body, #root, .light, .dark {
  width: 100%;
  height: 100%;
  margin: 0;
}

.light {
  background: #fff;
  color:#000;
}

.dark {
  background: #000;
  color:#fff;
}

button {
  font-size: 16px;
  background: transparent;
}
